<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_page.css') }}">
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to the Movie Booking Website</h1>
    
    <div>
        <a href="{{ url_for('admin_login') }}"><button>Admin Login</button></a>
        <a href="{{ url_for('user_login') }}"><button>User Login</button></a>
    </div>
</body>
</html>
