<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_page.css') }}">

    <title>User Page</title>
</head>
<body>
    <h1 class="welcome">Welcome, User!</h1>
    {% if movies %}
        <h2 class="availablemovie">Available Movies:</h2>
        <ul>
            {% for movie in movies %}
                <li>
                    <div class="moviebox">
                        <div class="movieimagebox">
                            <img src="{{ url_for('static', filename=movie.photo_url) }}" alt="{{ movie.title }} Image">
                        </div>
                        <div class="movieinfobox">
                            <h3>{{ movie.title }}</h3>
                            <p>{{ movie.description }}</p>
                            <p><a href="{{ url_for('movie_description', movie_id=movie.id) }}">View Details</a></p>
                        </div>       
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No movies available.</p>
    {% endif %}
    <p><a href="{{ url_for('book_ticket', movie_id=1) }}">Book Tickets</a></p>
</body>
</html>

</body>
</html>
